#{extends 'main.html' /} #{set title:'RV - Editar'/}


<style>
#esp01 {
	margin-top: 30px;
}

.neg01 {
	font-weight: bold;
	margin-right: 5px;
}

.hh7 {
	display: flex;
}

#neg02 {
	font-weight: bold;
	margin-bottom: 5px;
}

textarea {
	width: 460px;
	height: 200px;
	resize: none;
}
#habili{
	width: 160px;	
	margin: 5px;
	display: none;
}
#sel{
	margin-top: 30px;
	width: 160px;
}

.colaz p{
	margin: 0;
	margin-top: 15px;
	color: #0D6EFD;
}

.colaz hr {
	margin-top: 0;
	margin-botom: 10px;
	color: #0D6EFD;
}

form select {
	margin-bottom: 15px;
}

form button {
	margin-top: 15px;
}
#mamamia {

	width: 500px;
	word-wrap: break-word;

}

</style>
<script>

function ver3() {
	var habili = document.getElementById("habili");

	if (habili.style.display === "inline") {
		habili.style.display = "none";
	} else {
		habili.style.display = "inline";
	}
}


</script>
<body>

		<div class="parte03">
		<h3>Requerimento do Aluno - N&#186; ${requerimento.id}</h3>
		<div>
			<div>
				<div id="esp01">
					<div class="colaz">
						<p>Dados Pessoais</p>
						<hr>
					</div>
					<div>
						<div class="hh7">
							<p class="neg01">Nome: </p> ${requerimento.nome}
						</div>
						<div class="hh7">
							<p class="neg01">Matricula: </p> ${requerimento.matricula}
						</div>
						<div class="colaz">
							<p>Requerimento</p>
							<hr>
						</div>
						<div class="hh7">
							<p class="neg01">Motivo: </p> ${requerimento.motivo} 
							#{if requerimento?.outro} - ${requerimento.outro} #{/if}
							
						</div>
						
						#{if requerimento?.motivo == "Justificativa de Faltas"}
						<div class="hh7">						
								#{if requerimento?.data}<p class="neg01">Data: </p> ${requerimento.data} #{/if}
								#{if requerimento?.data2} - ${requerimento.data2} #{/if}
						</div>
						<div class="hh7">	
								#{if requerimento?.nomeTipo} <p class="neg01">Tipo: </p> ${requerimento.nomeTipo} #{/if}
								#{if requerimento?.nomeTipo2} - ${requerimento.nomeTipo2} #{/if}
						</div>
						<div class="hh7">		
								#{if requerimento?.nomeDisc} <p class="neg01">Disciplina: </p> ${requerimento.nomeDisc} #{/if}
								#{if requerimento?.nomeDisc2} - ${requerimento.nomeDisc2} #{/if}
						</div>
						<div class="hh7">	
								#{if requerimento?.nomeProf} <p class="neg01">Professor: </p> ${requerimento.nomeProf} #{/if}
								#{if requerimento?.nomeProf2} - ${requerimento.nomeProf2}#{/if}				
						</div>
						#{/if}
						
						#{if requerimento?.requerimento_anexado}
							<div class="hh7">
								<p class="neg01">Comprovante: </p> 
									
									<a href="../uploads/${requerimento?.requerimento_anexado}" title="Clique para abrir" target="_blank">
									Visualizar
									<span class="iconify" data-icon="akar-icons:eye-open"></span>
									</a>										
								
							</div>
						#{/if}

					<div class="mamamia">
					
						<p class="neg01">Descri&ccedil;&atilde;o: </p>  ${requerimento.textarea}									
					</div>
					</div>
					#{if requerimento?.motivo2}
					<div class="colaz">
						<p>Requerimento (2)</p>
						<hr>
					</div>
						<div>
							
							<div class="hh7">
								<p class="neg01">Motivo (2): </p> 							 
									${requerimento.motivo2} 		
									#{if requerimento?.outro2}
									 - ${requerimento.outro2} 
									#{/if}												
							</div>	
											
							#{if requerimento?.motivo2 == "Justificativa de Faltas"}
							<div class="hh7">
								#{if requerimento?.data3}<p class="neg01">Data: </p> ${requerimento.data3} #{/if}
								#{if requerimento?.data4} - ${requerimento.data4} #{/if}
							</div>
						<div class="hh7">	
								#{if requerimento?.nomeTipo3}<p class="neg01">Tipo: </p> ${requerimento.nomeTipo3} #{/if}
								#{if requerimento?.nomeTipo4} - ${requerimento.nomeTipo4} #{/if}
							</div>
						<div class="hh7">	
								#{if requerimento?.nomeDisc3}<p class="neg01">Disciplina: </p> ${requerimento.nomeDisc3} #{/if}
								#{if requerimento?.nomeDisc4} - ${requerimento.nomeDisc4} #{/if}
								</div>
						<div class="hh7">	
								#{if requerimento?.nomeProf3} <p class="neg01">Professor: </p> ${requerimento.nomeProf3} #{/if}
								#{if requerimento?.nomeProf4} - ${requerimento.nomeProf4}#{/if}												
							</div>
							#{/if}
							
							
							#{if requerimento?.requerimento_anexado2}
							<div class="hh7">
									<p class="neg01">Comprovante (2): </p>
									<a  href="../uploads/${requerimento?.requerimento_anexado2}" title="Clique para abrir" target="_blank">
									Visualizar<span class="iconify" data-icon="akar-icons:eye-open"></span>
									</a>
							</div>
							#{/if}
							
						<div id="mamamia">
						<p class="neg01">Descri&ccedil;&atilde;o: </p>  ${requerimento.textarea2}									
						
						</div>
					</div>
					
					#{/if}
										
					<div>
					<form action="@{Seacs.salvar}" method="post">	
						<input type="hidden" name="requerimento.id" value="${requerimento?.id}">
									
								<select id="sel" name="requerimento.sit" value="${requerimento?.sit}"  class="form-select" aria-label="Default select example">
									<option  disabled selected value>Finalizar..</option>											
									<option id="def">DEFERIR</option>
									<option id="ind">INDEFERIR</option>													
								</select>
								<span class="textoError" id="te01">#{error 'requerimento.sit'/}</span>	
								<div>
								</div>
								
								<div class="form-check">
								  <input class="form-check-input" type="checkbox" value="" id="check" onclick="ver3()">
								  <label class="form-check-label" for="defaultCheck1">
								    Encaminhar
								  </label>
								</div>
									
								
								<select id="habili" name="requerimento.matriculaProf" value="${requerimento?.matriculaProf}" class="form-select" aria-label="Default select example">	
									<option disabled selected value>Encaminhar</option>
									#{list items:usuarios, as: 'usuario'}
										#{if usuario.tipoUser == usuario.tipoUser.PROFESSOR && usuario.matricula}								
											<option>${usuario.matricula}</option>	
											<option disabled value>${usuario.nome} </option>																								
										#{/if}
									#{/list}							
								</select>
								
								<span class="textoError" id="te01">#{error 'requerimento.matriculaProf'/}</span>
						
						<div>
							<button type="reset" id="reset" class="btn btn-xs btn-danger">Resetar</span></button>
							<button type="submit" class="btn btn-xs btn-success">Salvar</button>
						</div>
						</form>
					</div>					
				</div>			
			</div>
		</div>
	</div>
			

	<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
	<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
	<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>

</body>