#{extends 'main2.html' /} #{set title:'RV - Como Funciona?'/}
<style>
#parte03 h3{
	margin-bottom: 35px;
}

#hcc {
	width: 100%;
	text-align: center;
}

#hcc hr {
	color: #0D6EFD;
}
</style>

		<h3>Como Funciona?</h3>
		<div id="vid">
			<div id="hcc">
				<h5>Video Explicativo do Sitema Requerimento Virtual</h5>
				<hr>
				<iframe width="728" height="410" src="https://www.youtube.com/embed/wMjxq4SkW34" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>