#{extends 'main3.html' /} #{set title:'RV - Contato'/}
<style>
.parte03 h2 {
	text-align: center;
	margin-bottom: 32px;
}

.iconify {
	width: 23px;
	height: 23px;
}

fieldset {
	margin-top: 50px;
}
</style>
<body>
	<h3>Contato</h3>
	<fieldset id="fi01">
		<h6>Informações para entrar em contato:</h6>
		<br> 
		<span class="iconify" data-icon="logos:google-gmail" data-inline="false"></span> G-mail: wenderson.cunha@escolar.ifrn.edu.br
		<br>
		<span class="iconify" data-icon="logos:google-gmail" data-inline="false"></span> G-mail: kaue.reboucas@escolar.ifrn.edu.br
		<br>
		<br>
		<p> Em caso de criticas ou sugestões acesse a página de SUGESTÃO ao lado, onde terá um formulári que pode ser preenchido com 
			informações e ao final um botão de envio. Obrigado!</p>
	</fieldset>
</body>